<section class="first-screen">
	<aside class="header-first-screen">
		<div class="logo"><img src="assets/img/logo.png" /><span>v.01</span></div>
		<div class="list-first-screen">
			<div class="dashboard-list"></div>
			<div class="products-list"></div>
			<div class="customers-list"></div>
			<div class="income-list"></div>
			<div class="promote-list"></div>
			<div class="help-list"></div>
		</div>
	</aside>

	<div class="info-first-screen">
		<div class="dashboard-info"></div>
		<div class="products-info"></div>
		<div class="customers-info"></div>
		<div class="income-info"></div>
		<div class="promote-info"></div>
		<div class="help-info"></div>
	</div>
</section>
